
<div class="chat-bg"></div>
<p id="actionable">Start typing to speak with DocBot now...</p>
<a href="/"><img class="navLogo" src="/img/textLogo.png"/></a>
<div id="BotChatElement"></div>
<script src='/lib/botchat/botchat.js'></script>
<script>
    var model = {
"userId": "I1oq3UIhNUf",
"userName": "You",
"botId": "mhacksdocbot",
"botIconUrl": "//bot-framework.azureedge.net/bot-icons-v1/bot-framework-default-1.png",
"botName": "DocBot",
"secret": "UdwAen3ZqQE.cwA.Iuc.kPdCzmH95M6WeWkgKfv8CwSR6ht1vw6ryTelLcc8xu8",
"iconUrl": "//bot-framework.azureedge.net/bot-icons-v1/bot-framework-default-1.png",
"directLineUrl": "https://webchat.botframework.com/v3/directline",
"webSocketEnabled": "false"
};
</script>
<script>
    BotChat.App({
        directLine: {
            secret: model.secret,
            token: model.token,
            domain: model.directLineUrl,
            webSocket: false
        },
        user: { id: model.userId, name: model.userName },
        bot: { id: model.botId, name: model.botName },
        resize: 'window'
    }, document.getElementById("BotChatElement"));

</script>
